.App {
  height: 640px;
  border: 1px solid blue;
  width: 30%;
  margin: 20% auto;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.7;
  overflow: scroll;
}

.display-input {
  display: flex;
  justify-content: flex-end;
  margin: 0.8rem 1.5rem;
}

.display-result {
  display: flex;
  justify-content: flex-end;
  margin: auto 1.5rem;
  border-bottom: 2px solid grey;
  height: 16%;
  font-size: 3rem;
  justify-content: space-between;
  align-items: center;
}

.result {
  overflow: hidden;
  text-overflow: ellipsis
}

.display-keys {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto 1rem;
  margin-top: 8%;
  height: 65%;
}

.display-keys button{
  font-size: 2.3rem;
  height: 65px;
  width: 65px;
  margin: 6px;
  border-radius: 100%;
  font-weight: 450;
  cursor: pointer;
  border: none;
}

.display-keys button:first-child {
  width: 140px !important;
  border-radius: 10rem;
  font-size: 1rem;
}

button:active {
  opacity: 0.3;
}

button[name="digit"] {
  background-color:#d9fcf8;
}

button[name="operation"] {
  background-color:#fffcbf;
}

button:focus {outline:0;}
